
.notification {
  &-box {
    position: fixed;
    box-sizing: border-box;
    width: 180px;
    height: 60px;
    padding: 0 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
  }
}